
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<div class="ext-box row">

    <div class="col-md-2">

    </div>

    <div class="col-md-8">
        <img src="~/images/welcome.png" style="margin-top:50px" />

        <br />

        <label style="color: #212529; font-weight: bold; padding-left: 24px;
      font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
            Welcome @ViewBag.Name<br />To Attendance & Leave Management
        </label>

    </div>

    <div class="col-md-2">

    </div>

</div>

